*{
    font-family:'Arial Narrow Bold';
    list-style: none;
    padding: 0;
    margin: 0;
}
body{
    background: white;
}
h3{
    margin: 5px;
}
.skills{
    width: 700px;
    margin: 60px, auto;
    color: black;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0), 0 10px 10px rgba(0, 0, 0, 22);

    
}
.skills li{
    margin: 20px 0;
    padding: 10px;
}
.bar{
    background: #353b48;
    display: block;
    height: 16px;
    border: 1 px solid rgba(0, 0, 0, 0.3);
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span{
    height:20px;
    float: left;
    background: linear-gradient(135deg, rgba(236,0,140,1)0%, rgba(252, 103, 103,1)100%);
}
.analytical{
    width: 80%;
    animation: analytical 3s;
}
.Coding{
    width:60%;
    animation: Coding 3s;
}
.Listening{
    width: 70%;
    animation: Listening 3s;
}
.communication{
    width: 80%;
    animation: communication 3s;
}
.powerpoint{
    width: 55%;
    animation: powerpoint 3s;
}
@keyframes analytical{
    0%{
        width: 0%;
    }
    100%{
        width:90%;
    }
}
@keyframes Coding{  
    0%{
    width: 0%;
}
    100%{
    width:90%;
}
}
@keyframes Listening{
    0%{
    width: 0%;
}
    100%{
    width:90%;
}
}
@keyframes communication{
    0%{
    width: 0%;
}
    100%{
    width:90%;
}
}
@keyframes powerpoint{
    0%{
    width: 0%;
}
   100%{
    width:90%;
}
}
.images{
    width: 50%;
    height: 70%;
    position: absolute;
    bottom: 0;
    right: 80px;
}
.images img{
    height: 60%;
    position: absolute;
    left: 15%;

}
